<br><br>
<div class="form-container">
    <h3 style = "text-align: center;">FEEDBACK REGARDING THE SEMINAR</h3>
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <mat-form-field appearance="fill">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Enter Full Name" formControlName="fullName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput  type="email" placeholder="Enter Email" formControlName="email">
            <mat-error *ngIf="formdata.controls['email'].invalid && formdata.controls['email'].touched">Email is required and must be a valid email</mat-error>
        </mat-form-field>

              <mat-form-field>
                <mat-label>Who or what was the reason why you attended the seminar?</mat-label>
                <select matNativeControl required formControlName = "reasonAttend">
                  <option value="teacher">My Teacher</option>
                  <option value="friends">My Friends</option>
                  <option value="FB Post">Facebook Post</option>
                </select>
              </mat-form-field>

              <section class="example-section" [formGroup]="faveEvent">
                <p>Select your favorite part/s of the event:<p>
                <p><mat-checkbox value="introduction">Introduction</mat-checkbox></p>
                <p><mat-checkbox formControlName="Lesson1">Lesson 1</mat-checkbox></p>
                <p><mat-checkbox formControlName="Lesson2">Lesson 2</mat-checkbox></p>
                <p><mat-checkbox formControlName="Lesson3">Lesson 3</mat-checkbox></p>
              </section>

        <div class="slider-group">
            <label class="slider-label">Kindly rate the overall seminar: {{formdata.get('satisfactionLevel')?.value}}</label>
            <mat-slider [min]="minSatis" [max]="maxSatis" [step] = "1" [discrete]="true">
                <input matSliderThumb formControlName="satisfactionLevel">
            </mat-slider>
        </div>
        <div class="radio-group">
            <label class="radio-label">
                Can you say you are satisfied with the whole seminar?
            </label>
            <mat-radio-group formControlName="overSatis" class="overSatis-radio-group">
                <mat-radio-button value="Satisfied">Yes</mat-radio-button>
                <mat-radio-button value="Not Satisfied">No</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Your message or any suggestions:
            </mat-label>
            <textarea matInput cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10" placeholder="Your Message or any suggestions" formControlName="message"></textarea>
        </mat-form-field>        

        <button mat-raised-button color="primary" type="submit" [disabled]="!formdata.valid">Submit</button>
    </form>

    <div *ngIf = "submitted">

        
        <br>
        You have entered: <br>
        Username: {{fullName}}<br>
        Email: {{email}}<br>
        Reason why you attended: {{reasonAttend}}<br>
        <section class="example-section" [formGroup]="faveEvent">
            <p>Favorite parts of the event:</p>
            {{faveEvent.value | json}}
          </section>
        Rate of the overall seminar: {{satisfactionLevel}}<br>
        Overall Satisfaction: {{overSatis}}<br>
        Message: {{message}}<br>
        
        </div>
</div>

  